REDIS_URL=
DATABASE_NAME=
INTERVAL=
# On UNIX systems you can use `openssl rand -hex 32` or 
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET=
AUTH_TRUST_HOST=
AUTH_DISCORD_CLIENT_ID=
AUTH_DISCORD_CLIENT_SECRET=
DISCORD_AUTHORIZED_USERS=